@font-face {
    font-family: Solari;
    src: url(Fuentes/Solari.ttf)
}

body {
    margin: 0px;
}


/*----------------------------------------------------------------*/
/* Definir el grid para todo el documento                         */

.conteiner {
    display: grid;

    grid-template: 90px auto auto auto auto / 10% auto auto auto 10%;

    /* Distribuimos el contenido en cada fila */
    grid-template-areas: "header header header header header"
        "navbar navbar navbar navbar navbar"
        "izq contenido contenido contenido der"
        "izq ofertas ofertas ofertas der"
        "redes redes redes redes redes";


}

/*----------------------------------------------------------------*/
/* Defino el nombre y color de cada area del grid                 */
/*----------------------------------------------------------------*/

.header {
    display: flex;
    justify-content: space-between;
    grid-area: header;
    background-color: rgb(39, 53, 79);
}

.navbar {
    display: flex;
    justify-content: center;
    grid-area: navbar;
    background-color: white;
}

.izq {
    grid-area: izq;
    background-color: white
}

.der {
    grid-area: der;
    background-color: white;
}

.contenido {
    display: flex;
    grid-area: contenido;
    background-color: white;
}

.ofertas {
    grid-area: ofertas;
    background-color: white;

}

footer {
    grid-area: redes;
    background-color: rgb(111, 109, 111);
}


/*----------------------------------------------------------------*/
/* Definicion de los estilos el header                           */

.logo {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.nombreLogo {
    font-family: Solari;
    font-size: 15px;
    color: rgb(255, 199, 28);

}


.contacto,
.inicio {
    display: flex;
    padding: 0 1rem;
}

.inicio a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: rgb(111, 109, 111);
}


.Registro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: flex-end;

}

.contacto>p,
.inicio>p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    color: rgb(111, 109, 111);
}

.contacto>img,
.inicio>img {
    padding: 0 2px;
}



.botonav div {
    justify-content: center;
    padding: 0px;
    margin: 5px 5px 10px;
    background-color: rgb(255, 199, 28);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 0 0 10px 10px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
    display: inline;
}



.buscaTuVuelo:hover,
.promociones:hover,
.clubAuri:hover,
.actividades:hover {
    transform: translate(2px, 2px);
}

.botonav a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: black;
   
    padding: 20px;
  width: 100%;
  height: 100%;
  
  
  }

  

/*----------------------------------------------------------------*/
/* Definicion de los estilos de las cosas que estan el el contenido*/

.formulario {
    background-color: rgb(242, 242, 242);
    margin: 10px 0px 10px 10px;
    width: 65%;
    border-color: black;
    border-right: dashed;
    border-top: solid;
    border-bottom: solid;
    border-left: solid;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

.formulario2 {
    background-color: rgb(242, 242, 242);
    margin: 10px 10px 10px 0px;

    width: 35%;
    border-color: black;
    border-right: solid;
    border-top: solid;
    border-bottom: solid;
    border-left: dashed;
    border-radius: 0px 30px 30px 0px;
    ;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);
}

input {
    border-radius: 5px;
    margin: 5px;
    height: 30px;
    width: 100px;
    border-color: rgb(111, 109, 111);
    border-style: solid;
}

label {
    margin: 5px;
}

.formularioinicio {
    background-color: rgb(242, 242, 242);
    margin:  10px 150px;
    text-align: center;
    width: 100%;
    border-color: black;
    border-style: solid;
    border-radius: 30px;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);

}
 .barrasuperiorinicio>h1{
            background-color: rgb(206, 55, 62);
           
        margin-top: 0px;
        border-radius: 30px 30px 0px 0px;
        padding: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
   
 }


.barrasuperior>h1 {
    background-color: rgb(206, 55, 62);
    margin-top: 0px;
    border-radius: 30px 0px 0px 0px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.barrasuperior2>h1 {
    background-color: rgb(206, 55, 62);
    margin-top: 0px;
    border-radius: 0px 30px 0px 0px;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}



/*----------------------------------------------------------------*/
/* Definicion de los estilos de las cosas que estan en la oferta*/

.ofertas h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.tablaviaje {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-color: black;
    border: 2px;

}

.tablaviaje div {
    border: 2px;
    flex: 1 0 200px;

    margin: 10px;
    padding: 0px;
    background-color: rgb(255, 199, 28);
    border-radius: 20px 20px 5px 20px;
    z-index: 10;
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.4);

}

.tablaviaje>div>img {
    z-index: -10;
    height: 140px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.tablaviaje label,
p {
    padding: 5px;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.tablaviaje>div:hover {
    transform: scale(1.1);
}



/*----------------------------------------------------------------*/
/* Definicion de los estilos en el footer        */

.redes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.redes img {
    mix-blend-mode: color-burn;
}




/*----------------------------------------------------------------*/
/* Definicion de los estilos en los distintos media query          */

@media only screen and (max-width: 920px) {
    .conteiner {
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: auto auto auto auto auto / 25% 25% 25% 25%;

        /* Distribuimos el contenido en cada fila */
        /* Desaparecen columnas der e izq */
        grid-template-areas:
            "header header header header"
            "navbar navbar navbar navbar"
            "contenido contenido contenido contenido"
            "ofertas ofertas ofertas ofertas"
            "redes redes redes redes";
    }


}



@media only screen and (max-width: 600px) {
    .conteiner {
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: auto / 20% 60% 20% ;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas:
            "header header header"
            "navbar navbar navbar"
            "contenido contenido contenido"
            "ofertas ofertas ofertas"
            "redes redes redes"
    }

    .navbar {
        flex-direction: column;
    }

    /* Desaparece el nombre */

    .nombreLogo {
        display: none;
    }

    .contacto>p,
    .inicio>p {
        display: none;
    }


    .botonav>div {

        border-radius: 0px 10px 10px 0px;
    }

    .contenido {
        flex-direction: column;

    }

    .formulario {
        margin: 5px 5px 0px 5px;
        width: auto;
        border-radius: 30px 30px 0px 0px;
        border-color: black;
        border-right: solid;
        border-top: solid;
        border-bottom: dashed;
        border-left: solid;
    }

    .formularioinicio {
        margin: 5px;
        width: auto;
        border-radius: 30px;
        border-color: black;
       border-style: solid;
    }
    .barrasuperior>h1 {
        border-radius: 30px 30px 0px 0px;
    }

    .formulario2 {
        margin: 0px 5px 5px 5px;
        border-radius: 0px 0px 30px 30px;
        width: auto;
        height: 100%;
        border-color: black;
        border-right: solid;
        border-top: dashed;
        border-bottom: solid;
        border-left: solid;
        display: inline-table;
    }

    .barrasuperior2 {
        display: table-cell;
        vertical-align: bottom;

        border-radius: 0px 0px 30px 30px;


    }

    .barrasuperior2 h1 {
        border-radius: 0px 0px 30px 30px;
        margin: 0px;
        
        vertical-align: bottom;
    }

    .info {
        display: none;
    }

}