.conteiner {
    display: grid;

    grid-template: 100px 200px 300px 600px 200px / 10% auto auto auto 10%;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas: "header header header header header"
        "navbar navbar navbar navbar navbar"
        "izq contenido contenido contenido der"
        "izq ofertas ofertas ofertas der"
        "redes redes redes redes redes";

/* separamos los items con gap */
gap: 0px;
}

/*----------------------------------------------------------------*/
/* Defino el nombre y color de cada area del grid                 */
/*----------------------------------------------------------------*/

.header    { 
    display: flex;
    justify-content: space-between;
      grid-area: header;    
    background-color: orange;  }
 .navbar   { 
    display: flex;
    justify-content: flex-start;
    grid-area: navbar;    
    background-color: rgb(0, 174, 255);  }
.izq       { grid-area: izq;       background-color: coral;  }
.der       { grid-area: der;       background-color: rgb(177, 177, 66);  }
.contenido { grid-area: contenido; background-color: rgb(196, 210, 255);}
.ofertas      { grid-area: ofertas;       background-color: rgb(36, 204, 106);  } 
.redes      { grid-area: redes;       background-color: rgb(0, 255, 106);  } 


.barra {
    background-color: #bab195;
}

.formulario {
    background-color: #626970;
    margin: 10px;
    padding: 20px;
  
 
    width: 50%;
   
    border-color: black;
    border-right: dashed;
    border-top: solid;
    
    border-bottom: solid;
    border-left: solid;
    border-radius: 20px;
    }





.Registro {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
}


.Registro>div {
    /*Utilizamos selectores avanzados en lugar de clases */
    color: white;
    background-color: #e8d18e;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}

.barra {
    display: flex;

}

.barra>div {
    color: white;
    background-color: #626970;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
}

.tablaviaje {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: black;
    border: 2px;
}

.tablaviaje>div {
    border: 2px;
    border-style: solid;
    border-color: #626970;
    justify-content: center;
      margin: 10px;
      padding: 10px;
    background-color: #e8d18e;
    border-radius: 5px;

    
}

.tablaviaje>div>img {

    height: 140px;
    width: 100%;
}

.barrasuperior > h1{
    height: 60px;
    background-color: red;
    
}

@media only screen and (max-width: 920px) {
    .conteiner {
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: auto auto auto 1000 auto / 25% 25% 25% 25%;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas:
            "header header header header"
            "navbar navbar navbar navbar"
            "contenido contenido contenido contenido"
            "ofertas ofertas ofertas ofertas"
            "redes redes redes redes";
    }
}



@media only screen and (max-width: 600px) {
    .conteiner {
        /* Uso un atajo para definir 3 filas / 2 columna */
        grid-template: auto auto auto auto  / 25% 25% auto;

        /* Distribuimos el contenido en cada fila */
        grid-template-areas:
            "header header header"
            "navbar navbar navbar"
            "contenido contenido contenido"
            "ofertas ofertas ofertas"
            "redes redes redes";
    }
}